<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor</title>
</head>
<body>
    <%- include('../layout.ejs')%>
    <h2 align="center">Hello : <%= instructor.fname %></h2>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ClassID</th>
                    <th scope="col">ClassName</th>
                    <th scope="col">View Lession</th>
                    <th scope="col">Add Lession</th>
                </tr>
            </thead>
            <tbody>
                <% if(instructor.classes){ %>
                    <% for( let result of instructor.classes ) { %>
                        <tr>
                            <td><%= result.class_id %></td>
                            <td><%= result.class_title %></td>
                            <td><a href="#" class="btn btn-success">Views Lession</a></td>
                            <td><a href="#" class="btn btn-primary">Add Lession</a></td>

                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
        <br><br><br><br>
        
        <h2 align="center">ADD CLASS</h2>
        <hr>
        <form class="form-group" action="/classes/register" method="post">
            <label for="">รหัสวิชา</label>
            <input type="text" name="class_id" class="form-control">
            <label for="">ชื่อวิชา</label>
            <input type="text" name="class_name" class="form-control">
            <label for="">คำอธิบาย</label>
            <textarea name="description" cols="80" rows="10" class="form-control"></textarea>
            <input type="hidden" name="instructor" value="<%= instructor.fname %>">
            <input type="submit" value="สร้างรายวิชา" class="btn btn-primary my-4">
        </form>
    </div>
    
</body>
</html>