<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor</title>
</head>
<body>
    <%- include('../layout.ejs')%>
    <h2 align="center">Class: <%= classes.title %></h2>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">LessionID</th>
                    <th scope="col">LessionName</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                <!-- เช็คว่ามี lession รึป่าว -->
                <% if(classes.lesson){ %>
                    <% for( let result of classes.lesson ) { %>
                        <tr>
                            <td><%= result.lesson_number %></td>
                            <td><%= result.lesson_title %></td>
                            <td><a href="/classes/<%= classes.class_id %>/lesson/<%= result.lesson_number %>" class="btn btn-primary">Views</a></td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
</body>
</html>